<h3 class="text-uppercase m-4 text--primary text-decoration-underline">{{assignment.name}}</h3>
<h5 class="text--primary mx-4 text-decoration-underline">Description</h5>
<p class="text-justify mx-4 px-5">{{assignment.description}}</p>
<div class="nav-course bg-success py-3 mt-0">
    <a routerLink="ressources" routerLinkActive="active-link" class="text-white">Ressources</a>
    <a routerLink="assignments" routerLinkActive="active-link" class="text-white">Assignments</a>
</div> 
<div class="py-1 mx-4">
    <router-outlet></router-outlet>
</div>

