@import "../../styles.scss";

.nav{
    background-color: rgba(244, 128, 32,.8);
    display: flex;
    flex-direction: column !important;
    height: 100%;
    min-height: 800px;
    width: 200px;
    .title{
        border-bottom: 1px white solid;
    }
    a{
        text-align: left;
        padding: 12px;
        color: white;
        text-decoration: none;
        font-size: 17px;
        &:not(.active-link){
            &.fromleft{
                &::after{
                    display: block;
                    content: " ";
                    
                    border-bottom: 2px solid white;
                    transform: scaleX(0);
                    transition: transform  250ms ease-in-out;
                    transform-origin: 0% 50%;
        
                }
                &:hover {
                    &::after{
                        transform: scaleX(1);
                        
                    }
                }
                
            }
        }
        
    }
    .active-link{
        &::after{
            display: block;
            content: " ";
            border-bottom: 2px solid white !important;
        }
        
    }
}